
.container {
  padding-top: 32px;
}

#map{
    height: 75vh;
    width: 80vw;
    overflow: hidden;
    position: relative;
    margin: auto;
    margin-bottom: 2vh;
}

body {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

.bgimg-2 {
    opacity: 0.7;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bgimg-2 {
    background-image: url('/assets/img/map-bg.jpg');
    min-height: 70vh;
}

.w3-wide {
  letter-spacing: 10px;
}
.w3-hover-opacity {cursor: pointer;}


/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

#heatmap-modal {
  background: rgba(0, 0, 0, 0.7);
}

h1 {
  text-align: center;
}
