<!--
<head>
  <script src='https://maps.googleapis.com/maps/api/js?v=3.20&sensor=false'></script>
  <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/1.11.2/jquery.min.js'></script>
</head>

<div class="map-page">
  <div class="container page w3-padding-32">
    <h1>Map</h1>
  </div>
  <div id="map-canvas"/>
</div>
-->
<head>
<title>Simle Map</title>
<meta name="description" content="Simple Map">
<meta name="keywords" content="ng-map,AngularJS,center">
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<script src="script-tags-for-development.js"></script>
</head>

<body>
  <!-- <ng-map center="[40.74, -74.18]"></ng-map> -->
</body>
