<div class="home-page">
<body>
  <!-- First Parallax Image with Logo Text -->
  <div class="bgimg-1 w3-opacity w3-display-container">
    <div class="w3-display-middle" style="white-space:nowrap;">
      <h1 class="w3-center w3-padding-xlarge w3-black w3-xlarge w3-wide w3-animate-opacity">EarthSense</h1>
    </div>
  </div>

  <!-- Container (What is EarthSense) -->
  <div class="w3-content w3-container w3-padding-64">
    <h2 class="w3-center">What is EarthSense?</h2>

    <div class="w3-col m4">
      <img class="modal-img" src="assets/img/what-modal.jpg" id="profile" alt="Raspberry Pi Zero">
    </div>

    <p class="details"> Human health depends on a variety of factors and the air we breathe is not an exception.
        The question of whether or not global warming is affecting our planet has introduced an even more
        important concern to the general public; how safe is the air we are breathing? Any equipment that
        is collecting air quality data is typically sponsored on a federal level from the EPA or on a state
        level via local weather stations. EarthSense aims to develop a cheap, reliable, and scalable device
        that collects air quality samples and data, stores this data on a centralized server, and graphs the
        results across the mapped areas on a website. This enables a more local and consistent analysis of
        air quality around the deployed area, but paves the way for scalability.</p>
  </div>

<!-- Second Parallax Image with Portfolio Text -->
<div class="bgimg-2 w3-display-container" id="portfolio">
  <div class="w3-display-middle">
    <span class="w3-xxlarge w3-text-light-grey w3-wide">WHY</span>
  </div>
</div>

<!-- Container (Why is this important?) -->
<div class="w3-content w3-container w3-padding-64">
  <h2 class="w3-center">Why is this important?</h2>

  <div class="w3-col m3">
    <img class="modal-img" src="assets/img/why-modal.jpg" alt="pollution">
  </div>

  <p class="details"> There exists a lack of environmental data that prevents the general and local public
      from making educated decisions about their habits and impacts on the environment. Decisions such
      as taking a car to campus instead of carpooling or riding the bus, tailgating with the thousands
      of other Razorback fans for the big game, or taking out the motorcycle for the Bikes, Blues, and
      Barbecue weekend festival all directly impact the air quality in Fayetteville. Pollutants in the
      air vary day-to-day based on local events, human activity, and weather patterns.</p>
</div>

<!-- Third Parallax Image with Portfolio Text -->
<div class="bgimg-3 w3-display-container" id="contact">
  <div class="w3-display-middle">
    <h2 class="w3-xxlarge w3-text-light-grey w3-wide">WHO</h2>
  </div>
</div>

<!-- Container (Who is behind EarthSense?) -->
<div class="w3-content w3-container w3-padding-64">
  <h3 class="w3-center">Who is behind EarthSense?</h3>
  <p class="w3-center"></p>

  <!-- Responsive Grid. Four columns on tablets, laptops and desktops. Will stack on mobile devices/small screens (100% width) -->
  <div class="w3-row-padding w3-center">
    <div class="w3-col m4">
      <img src="assets/img/russell.png" style="width:100%" (click)="expand('russell')" class="w3-hover-opacity">
    </div>

    <div class="w3-col m4">
      <img src="assets/img/kaylee.jpg" style="width:100%" (click)="expand('kaylee')" class="w3-hover-opacity">
    </div>

    <div class="w3-col m4">
      <img src="assets/img/brok.jpg" style="width:100%" (click)="expand('brok')" class="w3-hover-opacity">
    </div>
  </div>

  <div class="w3-row-padding w3-center">
    <div class="w3-col m4">
      <img src="assets/img/keaten.jpg" style="width:100%" (click)="expand('keaten')" class="w3-hover-opacity">
    </div>

    <div class="w3-col m4">
      <img src="assets/img/olivia.png" style="width:100%" (click)="expand('olivia')" class="w3-hover-opacity">
    </div>

    <div class="w3-col m4">
      <img src="assets/img/Taylor.jpg" style="width:100%" (click)="expand('taylor')" class="w3-hover-opacity">
    </div>
  </div>
</div>

<!-- Modal for full size images on click-->
<div id="modal01" class="w3-modal w3-black" onclick="this.style.display='none'">
  <span class="w3-closebtn w3-hover-red w3-text-white w3-xxxlarge w3-container w3-display-topright">×</span>
  <div class="w3-modal-content w3-animate-zoom w3-center w3-transparent w3-padding-16">
    <img src="" id="img01" style="height: 60vh; transform: translateY(-15%);">
    <p id="aboutMe"></p>
  </div>
</div>

</body>
</div>
