body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1, .bgimg-2, .bgimg-3 {
    opacity: 0.8;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First background image, full screen trees, "what" */
.bgimg-1 {
    background-image: url('/assets/img/what-bg.jpg');
    min-height: 100vh;
}

/* Second background image, partial screen pollution, "why" */
.bgimg-2 {
    background-image: url('/assets/img/why-bg.jpg');
    min-height: 70vh;
}

/* Third background image, partial screen group photo, "who" */
.bgimg-3 {
    background-image: url('/assets/img/Taylor.jpg');
    min-height: 70vh;
}

.modal-img {
  max-height: 20vh;
}

.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

.details {
  font-size: 1.4em;
}

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

/* Turn off parallax scrolling for tablets and mobiles */
@media only screen and (max-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}

/* Heart Icon */
.heart-icon {
  color: #f77;
}


/* Clearfix Hack */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}

/* Social Media Icons */
.w3-half > a {
  text-decoration: none;
}

i.fa {
  padding-top: .2em;
  padding-left: .5em;
  padding-right: .5em;
  taransition: color 1s;
}

.fa-fire:hover {
  color: #4a4;
}

.fa-facebook:hover {
  color: #04a;
}

.fa-codepen:hover {
  color: #4af;
}

#profile { vertical-align: middle; }
